body{
    color:red;
}

.parent {
    background-color: #ff7f50;
    overflow: auto;
}
.current {
    background-color: hsla(180, 100%, 27%, 0.596);
    background-clip: padding-box;
    overflow: auto;
    box-sizing: content-box;
    width: calc(200px + 20%);
    height: calc(100px + 10%);
    min-width: 270px;
    max-width: 300px;
    
    margin: 10px auto 15px auto;
    margin-top: 15px;
    padding: 30px;

    border-style: double;
    border-color: black;
    border-width: 5px;
    border-radius: 25%;

    outline-width: 5px;
    outline-offset: 5px;
    outline-color: brown;
    outline-style: dashed;
}
.child {
    background-color: rgba(240, 230, 140, 0.582);
    
}
[class^=box]{
    width: 400px;
    height: 200px;
}
.box1 {
    background-color: #ff7f50;
    background-image: url(/Shared/Pictures/Camera.png);
   /*background-attachment: fixed;*/
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box2 {
    position: relative;
    top: -100px;
    z-index: -1;
    background-color: #ff7f50;
    /*background-image:linear-gradient(45deg, green, purple, blue);*/
    background-image: radial-gradient(circle, green 0%, purple 20%, blue 80%);
    /*background-attachment: fixed;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.block {
    background-color: blueviolet;
    display: block;
    width: 100px;
    height: 50px;
}
h2 {
    text-decoration: underline;
}
.text-1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: oblique;
    font-weight: 500;
    font-variant: small-caps;
}
.text-2{
    line-height: 1.6em;
    letter-spacing: 2px;
    word-spacing: 1.1em;
    text-align: justify;
    text-indent: 2em;
    text-transform: capitalize;
    text-shadow: 3px 4px 10px brown;
}
.text-3{
    width: 400px;
    height: 50px;
    white-space: nowrap;
    /*word-break: break-all;*/
    /*hyphens: auto;*/
    overflow: hidden;
    text-overflow: ellipsis;
}